body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
  padding: 10px;
  background: #1e3a8a;
  color: white;
}

main {
  flex: 1;
  display: flex;
  padding: 10px;
  gap: 10px;
}

/* Graph Section */
#graph-section {
  flex: 2;
  background: white;
  border: 2px solid #ddd;
  border-radius: 8px;
}

#graph {
  width: 100%;
  height: 100%;
}

/* Side panels */
#side-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel {
  background: white;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  flex: 1;
  overflow: auto;
}

#pseudocode {
  font-family: monospace;
  white-space: pre-wrap;
}

.pseudo-highlight {
  background: yellow;
}

/* Priority Queue */
#pq-list {
  list-style: none;
  padding-left: 10px;
}

/* Controls */
footer {
  padding: 10px;
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  gap: 15px;
  border-top: 2px solid #ccc;
}

button {
  padding: 8px 15px;
  background: #1e40af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1e3a8a;
}

.node {
  cursor: pointer;
  transition: 0.2s;
}

.node.visited {
  fill: #93c5fd;
}

.node.active {
  fill: #fbbf24;
}

.edge.highlight {
  stroke: red !important;
  stroke-width: 4px;
}

.edge-label {
    fill: blue;         /* makes the numbers blue */
    font-weight: bold; 
    font-size: 14px;
    pointer-events: none;
}

